<nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar">
    <div class="smartphone-menu-trigger-innerdiv">
      <img src="./assets/Images/24c89356dcc447b1-photo.JPG" class="ProfileImage" />
      <h2>Rahul R</h2>
    </div>
  </header>
	<ul>
    <li tabindex="0" class="icon-dashboard"><a routerLink="/dashboard"><span>Hello There !</span></a></li>
    <li tabindex="0" class="icon-Work"><a routerLink="/WorkExperiance"><span>Work Experience</span></a></li>
    <li tabindex="0" class="icon-Education"><a routerLink="/Education"><span>Education</span></a></li>
    <li tabindex="0" class="icon-Achievements"><a routerLink="/Achievements"><span>Achievements</span></a></li>
    <li tabindex="0" class="icon-Review"><a routerLink="/Reviews"><span>Reviews</span></a></li>
  </ul>
</nav>

<main>
  <div class="helper">
		<router-outlet></router-outlet>
  </div>
</main>