.mat-cards{
    padding: 0.5em;
    margin: 0.8em;
}
.mat-content{
    font-size: large;
}
.mat-icon{
    padding: .5em;
}
.likecount{
    font-size: x-small;
    color: rgba(19, 19, 19, 0.575);
    padding-left: 0px;
}
.like{
    padding-right: 0.2em;
}