.ReviewexpHeader{
    color: rgba(45, 46, 46, 0.827);
    font-weight: bold;
    font-size: xx-large;
    /* margin-top: 280px; ; */
}
.comment{
    width: 60%;
}

.Formcontainer{
    float: left;
    width: 50%;
    border-color: rgba(45, 46, 46, 0.827);
    border-width:2px;
    border-style:solid;
    padding-left: 2%;
    border-radius: 2%;
    height: 40%;
}
h1{
    text-align: center;
    font-size: x-large;
    color: rgba(45, 46, 46, 0.827);
}
.labels{
    color: rgba(45, 46, 46, 0.827);
    font-size: large;
    padding-right: 40px;
    width: 80px;
    display: inline-block;
}
.contentgrp{
    text-align: left;
}
.inputs{
    display:inline-block;
    border: 1px solid #cccccc; 
    outline:0; 
    min-width: 40%;
    height: 1.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
    text-indent: 1px;
}

.textarea{
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding is included in the total height/width */
    resize: vertical;
}
.container{
    display: flex;
}
.left-div{
    padding-left: 30px;
    border-left: 10px;
    height: 600px;
    overflow-y: auto;
    width: 60%;
}